.lan_str {
    position: fixed;
    background-image: url(img/B737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #000000;
    top: 0em;
    left: 0em;
    height: 950px;
    width: 100%;
}
.page_exe {
    position: relative;
    background-color: rgba(243, 243, 243, 0.6);
    top: 100px;
    left: 15%;
    height: 4100px;
    margin-bottom: 100px;
    width: 70%;
    box-shadow: 0px 0px 10px #000000;
    z-index: 500px;
}
.page_exe::before {
    content: '';
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    filter: blur(5px);
}
.header {
    position: absolute;
    margin: 0 auto;
    left: 35%;
    height: 50px;
    width: 470px;
}
.header_page {
    position: absolute;
    margin: 0 auto;
    top: 100px;
}
.tems {
    font-size: 20px;
    font-weight: 400;
}
.line {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #000000;
    border-radius: 20em/0.10em;
    top: 400px;
    margin: 0 auto;
    left: 10%;
}
.line_2 {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #000000;
    border-radius: 20em/0.10em;
    top: 930px;
    margin: 0 auto;
    left: 10%;
}
.line_3 {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #000000;
    border-radius: 20em/0.10em;
    top: 1900px;
    margin: 0 auto;
    left: 10%;
}
.tems_1 {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    font-size: 20px;
    font-weight: 500;
    top: 400px;
    width: 80%;
    height: 530px;
}
.tems_2 {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    font-size: 20px;
    font-weight: 500;
    top: 930px;
    width: 80%;
    height: 970px;
}
/*--------------------Начало Блоков мануалов 1, 2, 3, 4-------------------------*/
.tems_1_manual {
    position: absolute;
    margin: 0 auto;
    top: 110px;
    height: 450px;
    width: 80%;
}
.tems_2_manual {
    position: absolute;
    margin: 0 auto;
    top: 40px;
    height: 450px;
    width: 80%;
}
/*--------------------Конец Блоков мануалов 1, 2, 3, 4-------------------------*
/*-------------------------------*/
.libr_list {
    position: absolute;
    margin: 0 auto;
    top: 40px;
    height: 400px;
    width: 80%;
}
/*----------------Конец Подтем блоков----------------*/

.tems_3 {
    position: relative;
    margin: 0 auto;
    height: 900px;
    width: 80%;
    top: 1900px;
    z-index: 400px;
}
.tems_3_discr, .tems_3_page_of, .tems_4_discr {
    font-size: 19px;
    font-weight: 100;
    max-height: 700px;
}
.My_scrin {
    position: absolute;
    margin: 0 auto;
    height: 50px;
    width: 90%;
}
.end_page_3 {
    position: absolute;
    font-size: 19px;
    font-weight: 100;
    top: 650px;
}
#btn_1 {
    background: linear-gradient(to bottom, rgb(54, 67, 255) 20%, #7678ff 70%);
    outline: none;
    height: 40px; width: 120px;
    cursor: pointer;
    border: 0em;
    box-shadow: 0px 2px 8px #000000;
}
#btn_1:hover, #btn_f:hover {
    background: linear-gradient(to bottom, rgb(28, 43, 255) 20%, #6669ff 70%);
    transition: 0.3s linear;
    outline: none;
    height: 40px; width: 120px;
    cursor: pointer;
}
.line_4 {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #000000;
    border-radius: 20em/0.10em;
    margin: 0 auto; 
    bottom: 0em;
}
.tems_4 {
    position: relative;
    margin: 0 auto;
    height: 900px;
    width: 80%;
    top: 1900px;
}
/*-----------------------------------Начало блока Вопрос-Ответ------------------------------*/
.faq-title {
    display: inline-block;
    color: rgb(24, 99, 240);
    border-bottom: 1px dotted rgb(52, 116, 235);
    cursor: pointer;
    font-size: 22px;
}
.faq-title + .hide {
    overflow: hidden;
    max-height: 0;
    margin: 0 10px;
}
.faq-body {
    overflow: hidden;
    max-height: 150px;
    border-left: 1px rgba(0, 0, 0, .2) dotted;
    margin: 10px;
    margin-top: 5px;
    padding: 0 10px;
    transition: all 0.7s ease;    
}
/*-----------------------------------Конец блока Вопрос-Ответ------------------------------*/
.line_5 {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #000000;
    border-radius: 20em/0.10em;
    margin: 0 auto;
    left: 10%;
    bottom: 0em;
}
/*------------------------Начало формы подачи обращения----------------------*/
.Contact_grup {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    top: 3750px;
    height: 220px;
    width: 80%;
}
.contacts {
    position: absolute;
    left: 10%;
    margin: 0 auto;
    height: 220px;
    width: 40%;
    bottom: 10px;
    float: left;
}
/*-------Начало формы подачи заявки-------------*/
.form_request {
    position: absolute;
    margin: 0 auto;
    left: 60%;
    width: 29%;
    height: 220px;
}
#Ftxt {
    height: 30px;
    width: 98%;
}
#btn_f {
    width: 49%;
    height: 30px;  
    background: linear-gradient(to bottom, rgb(54, 67, 255) 20%, #7678ff 70%);
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    border: 0em;
    box-shadow: 0px 2px 8px #000000;
}
#btn_f:hover {
    width: 49%;
    height: 30px;
    background: linear-gradient(to bottom, rgb(28, 43, 255) 20%, #6669ff 70%);
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    border: 0em;
    box-shadow: 0px 2px 8px #000000;
}
#btn_res {
    width: 49%;
    height: 30px;  
    background: linear-gradient(to bottom, rgb(54, 67, 255) 20%, #7678ff 70%);
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    border: 0em;
    box-shadow: 0px 2px 8px #000000;
}
#btn_res:hover {
    width: 49%;
    height: 30px;  
    background: linear-gradient(to bottom, rgb(28, 43, 255) 20%, #6669ff 70%);
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    border: 0em;
    box-shadow: 0px 2px 8px #000000;
}
/*------------------------Конец формы подачи обращения----------------------*/

/*-------------SideBare for bloks----------------*/
#sp_x1, #sp_x2, #sp_x3, #sp_x4 {
    position: absolute;
    width: 170px;
    height: 40px;
    font-size:25px;
    cursor: pointer;
    font-weight: 520;
    top: 15px;
    transition: 0.3s;
    transition-delay: 0ms;
}
#sp_x1:hover, #sp_x2:hover, #sp_x3:hover, #sp_x4:hover {
    background-color: #00000011;
    font-size:25px;
    cursor: pointer;
    top: 15px;
    color: #000000;
    transition: 0.3s;
}
.sidenav_1, .sidenav_2, .sidenav_3, .sidenav_4 {
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(22, 22, 22, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
  }
.sidenav_1 a, .sidenav_2 a, .sidenav_3 a, .sidenav_4 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #9b9b9b;
    display: block;
    transition: 0.3s;
  }
.sidenav_1 a:hover ,.sidenav_2 a:hover, .sidenav_3 a:hover, .sidenav_4 a:hover {
    color: #f1f1f1;
  }
.sidenav_1 .closebtn, .sidenav_2 .closebtn, .sidenav_3 .closebtn, .sidenav_4 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.main_swap_1 {
    position: absolute;
    margin-left: 0px;
    transition: 0.5s;
    width: 80%;
    white-space: normal;
}
.main_swap_2 {
    position: absolute;
    margin-left: 0px;
    transition: 0.5s;
    white-space: nowrap;
    height: 970px; 
}
.main_swap_3 {
    position: absolute;
    margin-left: 0px;
    transition: 0.5s;
    width: 100%;
    top: 50px;
}
.main_swap_4 {
    position: absolute;
    margin: 0 auto;
    margin-left: 0px;
    transition: 0.5s;
    height: 900px;
    top: 50px;
}
@media (max-width: 1600px) {
}
.main_swap_1_x1600 {
    position: absolute;
    margin-left: 0px;
    transition: 0.5s;
    width: 80%;
    white-space: normal;
  }